<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>SKRAPER {{page}}</title>
</head>
<body>

    <div class="navbar">
        <div class="left">
            <h1>SKRAPER</h1>
        </div>
        <div class="right">
            <ul class="links">
                <li class="link"><a href="/">Home</a></li>
                <li class="link"><a href="/learn">Learn</a></li>
                <li class="link"><a href="/practice">Practice</a></li>
                <li class="link"><a href="/compete">Compete</a></li>
                <li class="link"><a href="/tools">Tools</a></li>
                <li class="link"><a href="/support">Support</a></li>
            </ul>
        </div>
    </div>
{% block content %}

{% endblock %}


<div class="footer">
    <div class="socials">
        <a href="https://twitter.com/rohxn_16" target="_blank"><img src="../static/images/twitter.png" alt=""></a>
        <a href="https://instagram.com/rohxn163" target="_blank"><img src="../static/images/instagram.png" alt=""></a>
        <a href="https://www.linkedin.com/in/rohan-dey-20a835268/" target="_blank"><img src="../static/images/linkedin.png" alt=""></a>
    </div>
    <b>&copy; 2023 SKRAPER - All Rights Reserved</b>
    <div class="contribute">
        <a href=""><img src="../static/images/github.png" alt=""></a>
        <div class="footer-text">
            CONTRIBUTE TO OUR PROJECT
        </div>
    </div>
</div>
</body>
</html>