{% extends "base.html" %}
{% block content %}


<div class="panel-container">

    <div class="panel">
        <div class="subheading-top">
            <h2>
                Boost your competitive programming progress by 10x, with
            </h2>
        </div>
        <div class="heading">
            <h1>
                SKRAPER
            </h1>
        </div>
        <div class="subheading-bottom">
            <h3>
                "A tool designed especially for Competitive Programmers to help them concentrate on what matters the
                most, by
                eliminating repetitive manual tasks.
                <!-- <br> -->
                SKRAPER provides all the upcoming contests from all the major competitive programming platforms, all in
                one place.
                <!-- <br> -->
                Now you don't have to worry about wasting time to find the best
                resources, practice problems, or even to keep track of your progress. Skraper does it all for you by
                providing learning resources, practice problems, for all topics and levels, all in ine place".
            </h3>
        </div>
        <div class="scroll">
            SCROLL DOWN TO CONTINUE <br> <br>
            &darr;
        </div>
    </div>
</div>


<div class="content-container">
    <div class="learn content">
        <h1>RESOURCES</h1>
        <p>
            Learn from the best free resources available on the internet, from top competitive programmers and
            professionals, all in one place.
        </p>
        <button>
            <a href="/learn">RESOURCES &rarr;</a>
        </button>
    </div>
    <div class="compete content">
        <h1>
            COMPETE
        </h1>
        <p>
            See upcoming contests from all the major competitive programming platforms. Compete against the best and
            prove your worth in the CP community.
        </p>
        <button>
            <a href="/compete">COMPETE &rarr;</a>
        </button>
    </div>
    <div class="practice content">
        <h1>PRACTICE</h1>
        <p>
            Practice from a wide range of problems, from all the major competitive programming platforms, handpicked and
            recommended by top in the game.
        </p>
        <button>
            <a href="/practice">PRACTICE &rarr;</a>
        </button>
    </div>
</div>

{% endblock %}